<div>
    <label>ID: <input [(ngModel)]="tempid" type="number"></label>
</div>
<div>
    <label>Title: <input [(ngModel)]="newContent.title"></label>
</div>
<div>
    <label>Description: <input [(ngModel)]="newContent.description"></label>
</div>
<div>
    <label>Creator: <input [(ngModel)]="newContent.creator"></label>
</div>
<div>
    <label>Image URL: <input [(ngModel)]="newContent.imgURL"></label>
</div>
<div>
    <label>Type: <input [(ngModel)]="newContent.type"></label>
</div>
<div>
    <label>Tags: <input [(ngModel)]="temptags"></label>
</div>
<div>
    <button (click)="modifyOrAddItemToParent()">{{(tempid !== "") ? "Update Content": "Add Content"}}</button>
</div>
<!-- <div>
    <span class="error-message"> {{ errorMessage }}</span>
</div> -->