<div *ngIf="pokemonster">
    <div [style.color]='colour' class="name">{{ pokemonster.name }}</div>
    <div [ngSwitch]='pokemonster.type'>
        <span *ngSwitchCase='"Electric"'>Uses thunder real well</span>
        <span *ngSwitchCase='"Normal"'>What even is normal?</span>
        <span *ngSwitchDefault>A typeless pokemon</span>
    </div>
    <div appHighlight colour="cyan" class="description">{{ pokemonster.description }}</div>
    <div class="content-card-image"><img (click)="runClickFunction()" [src]="pokemonster.imageUrl"></div>
    <div class="trainer-name">{{ pokemonster | defaultTrainerName : "Gary" }}</div>
    <div *ngIf="pokemonster.tags" class="tags">
        <span appHighlight class="tag" *ngFor="let tag of pokemonster.tags"> {{ tag }}</span>
    </div>
    <!-- <span [innerHTML]="returntag()"></span> -->
</div>