:host{
    display: block;
    width: 400px;
    margin: 16px auto;
    border: 1px solid #000;
    padding: 16px;

    .type{
        color:#ff0000;
    }
    img.content-card-image {
        width: 200px;
    }
    .trainer-name{
        color: #00ff00;
    }
    .tags{

    }
    .tag{
        display: inline-block;
        border-radius: 20px;
        padding: 8px;
        margin: 16px;
        border: 1px dashed #000;
    }
}

:host.is-last{
    background-color:#0000ff;
    color: #ffffff;
}
// :host .type{
//     color: #ff0000;
// }