<mat-form-field appearance="fill">
    <mat-label>ID (ONLY FOR UPDATING)</mat-label>
    <input matInput placeholder="0" #id>
</mat-form-field>
<div>
    Name: <input #name>
</div>
<div>
    Img url: <input #imageUrl>
</div>
<div>
    Description: <input #description>
</div>
<div>
    Tags: <input #tags>
</div>
<div>
    <button mat-raised-button (click)="addPokemon(name.value, imageUrl.value, description.value, tags.value)">Add
        Pokemon</button>
    <button  mat-raised-button color="accent"  (click)="updatePokemon(id.value, name.value, imageUrl.value, description.value, tags.value)">Update
            Pokemon</button>
</div>